bin/*
build/*
*.o
*.elf
*.bin
*.d

configs/*
!configs/configs.mk
!configs/linker.ld 
!configs/example/
!configs/null/

.vscode/*
*.mod*
*.cmd
*.mod.c
*.symvers
*.order
.modules*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf